### 다양한 조작법

In [2]:
import pandas as pd
import numpy as np
nba = pd.read_csv('datas/nba.csv',parse_dates=['Birthday'],index_col='Name')
nba.nlargest(1,columns=['Salary'])
# salary열 기준으로 가장 큰 것 하나 추출

                                Team Position   Birthday    Salary
Name
Stephen Curry  Golden State Warriors       PG 1988-03-14  40231758

In [21]:
nba.loc['Shake Milton'] # 인덱스를 name으로 설정했으니 이름 조회 가능
nba['Salary'].loc['Shake Milton'] # 특정 선수의 특정 컬럼을 볼 수 있다
nba['Salary'].at['Shake Milton']

1445697

In [15]:
nba.rename(columns={'Salary':'Pay'},inplace=True)
# 칼럼 이름 변경