## list

In [1]:
s = [1**1 , 2**2 , 3**2 , 4**2 , 5**2]
print(s)
print(s[0])
print(s[-1])
print(s + [2,3,4,5])
print(s *3)

s[1:3] = [10,10] # 리스트는 값 변경 가능
s

a = [ 'a' , 'b' , 'c']
n = [ 1,2,3]
x = [a,n]
x[0][2] #a 라는 묶금안에 c를 출력

[1, 4, 9, 16, 25]
1
25
[1, 4, 9, 16, 25, 2, 3, 4, 5]
[1, 4, 9, 16, 25, 1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

'c'

In [2]:
numbers = [1,2,3,4,5,6,7]
print(5 in numbers)
print(10 in numbers)

#추가
numbers.append(8)
numbers.insert(4,0) # index 4 위치에 0을 넣겠다 
numbers.extend([9,10,11]) # 뒤에 9,10,11 추가해줌
#삭제
numbers.remove(1) #0을 삭제하는데 중복시 가장 앞에있는것만 삭제
numbers.pop() # 요소를 제거를 하고 반환(인자 없으면 가장 마지막 제거)
#조회
numbers.index(4) # 4가 index 어디 위치해 있는지 찾아줌 
numbers.count(4) # 4가 리스트 안에 몇개 있는지
#변경 
numbers.sort() # 리스트 정렬 
numbers.reverse() # 순서가 뒤집힌다 
numbers.clear() #리스트를 비워준다 

# 튜플에서는 index , count 만 사용가능
print(numbers)

True
False
[]

In [3]:
sc = [88,73,89,59,77]
sc[0]>60 and sc[1]>60 and sc[2]>60 and sc[3]>60 and sc[4]>60

False

In [4]:
result = '1,2,3'.split(',')
print(type(result)) #split 으로 쪼개면 list 형으로 나온다
print(result)

<class 'list'>
['1', '2', '3']

## tuple

In [5]:
t = (1,2,3,4,5,'hello')
print(t)

(1, 2, 3, 4, 5, 'hello')

In [6]:
name = input('이름을 입력하시오')
print(name, "씨 안녕하세요 ?\n파이썬에 오신 것을 환영합니다")
a= int(input('첫 번째 정수를 입력하세요:'))
b= int(input('두 번째 정수를 입력하세요:'))
# print(a,'과',b,'의 합은',a+b,'입니다.') # 방법 1 
print('{} 과 {}의 합은 {}입니다'.format(a,b,a+b)) # 방법 2

이름을 입력하시오 강호정

강호정 씨 안녕하세요 ?
파이썬에 오신 것을 환영합니다

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2

1 과 2의 합은 3입니다