# 파이썬 기본

# 2/13

In [17]:
a = 'Hello, world!'
b = 'Python Programming'

print(a)
print(a)
print(b)

print("")

print(a+'\n'+a+'\n'+b)

Hello, world!
Hello, world!
Python Programming

Hello, world!
Hello, world!
Python Programming

In [27]:
a= 13 + (22-3) *4
b= 13+((22-3)*4)/5
c= 7//2 # 몫 구하기 
d= 7%2 # 나머지 구하기
print(a,b,c,d)

89 28.2 3 1

In [37]:
m=12
a=int(0.2467 * m + 4.159)
print('가장','시끄러운','층은','=',a,'층')
print('가장 시끄러운 층은 = {}층 '.format(a))

가장 시끄러운 층은 = 7 층
가장 시끄러운 층은 = 7층

#### 연습문제(지불금액)

In [48]:
people = 250
tax = 0.1 * 20000 * people * 3 
fee = (20000 * 3 * people) + tax     
print('총 지불 해야 할 금액은 {}원 입니다.'.format(int(fee)))

총 지불 해야 할 금액은 16500000원 입니다.

In [47]:
bin(22) # 22를 2진수로 표현 (ob뒤부터 )

'0b10110'

In [58]:
a= 10
a+= 20
print(a)

30

- 문자열 리터럴

In [40]:
print("'안녕?'이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.")
print('"안녕?"이라는 그 인사를 듣고 나는 \'누구지\'라고 생각했다') # \는 "" 두개 사용 가능하도록 한다 .

'안녕?'이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.
"안녕?"이라는 그 인사를 듣고 나는 '누구지'라고 생각했다

In [38]:
s0 = 'c:\nname' # \n 을 줄바꿈 용도로 사용할떄 

s1 = r'c:\nname' # \n 문자 그대로 사용하고 싶을떄

s2 = """ 
안녕하새요 , 
나는 파이썬을 공부하고 있습니다 . 
반갑습니다 
""" # 3중 따옴표(""")를 사용하면 자동으로 줄바꿈



s3 = """\
안녕하새요 , 
나는 파이썬을 공부하고 있습니다 . 
반갑습니다\
""" # \를 사용해서 줄바꿈을 막음


s4 = """ 
\"안녕하세요" , 
나는 파이썬을 공부하고 있습니다 . 
반갑습니다\
"""


print(s0)
print(s1)
print(s2)
print(s3)
print(s4)

c:
name
c:\nname

안녕하새요 ,
나는 파이썬을 공부하고 있습니다 .
반갑습니다

안녕하새요 ,
나는 파이썬을 공부하고 있습니다 .
반갑습니다

"안녕하세요" ,
나는 파이썬을 공부하고 있습니다 .
반갑습니다
너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.

# 2/14

- 반복문

In [42]:
a = "너무" * 10 + "파이썬 공부가 즐겁습니다."
print(a)

너무너무너무너무너무너무너무너무너무너무파이썬 공부가 즐겁습니다.

- indexing

In [64]:
word = 'python'
print(word[0:2]) # 0~1 -> py
print(word[::2]) # 증감 2 -> pto

sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])
print(sentence[7:])
print(sentence[0:3][::-1]) # 역으로 뒤집기 위해 [::-1]사용 (방법1)
print(sentence[2::-1]) # 2부터 -1씩 감소 (방법2)

py
pto
꺾
꺾이지 않는 마음
한요중
한요중

- list

In [97]:
s = [1**1 , 2**2 , 3**2 , 4**2 , 5**2]
print(s)
print(s[0])
print(s[-1])
print(s + [2,3,4,5])
print(s *3)

s[1:3] = [10,10] # 리스트는 값 변경 가능
s

a = [ 'a' , 'b' , 'c']
n = [ 1,2,3]
x = [a,n]
x[0][2] #a 라는 묶금안에 c를 출력

[1, 4, 9, 16, 25]
1
25
[1, 4, 9, 16, 25, 2, 3, 4, 5]
[1, 4, 9, 16, 25, 1, 4, 9, 16, 25, 1, 4, 9, 16, 25]
True
False

In [6]:
numbers = [1,2,3,4,5,6,7]
print(5 in numbers)
print(10 in numbers)

#추가
numbers.append(8)
numbers.insert(4,0) # index 4 위치에 0을 넣겠다 
numbers.extend([9,10,11]) # 뒤에 9,10,11 추가해줌
#삭제
numbers.remove(1) #0을 삭제하는데 중복시 가장 앞에있는것만 삭제
numbers.pop() # 요소를 제거를 하고 반환(인자 없으면 가장 마지막 제거)
#조회
numbers.index(4) # 4가 index 어디 위치해 있는지 찾아줌 
numbers.count(4) # 4가 리스트 안에 몇개 있는지
#변경 
numbers.sort() # 리스트 정렬 
numbers.reverse() # 순서가 뒤집힌다 
numbers.clear() #리스트를 비워준다 

# 튜플에서는 index , count 만 사용가능
print(numbers)

True
False
[]

In [83]:
sc = [88,73,89,59,77]
sc[0]>60 and sc[1]>60 and sc[2]>60 and sc[3]>60 and sc[4]>60

False

- tuple(불변)

In [11]:
t = (1,2,3,4,5,'hello')
print(t)

(1, 2, 3, 4, 5, 'hello')

input_value = int(input("정수를 입력해주세요:"))
print(input_value)

In [ ]:
name = input('이름을 입력하시오')
print(name, "씨 안녕하세요 ?\n파이썬에 오신 것을 환영합니다")
a= int(input('첫 번째 정수를 입력하세요:'))
b= int(input('두 번째 정수를 입력하세요:'))
# print(a,'과',b,'의 합은',a+b,'입니다.') # 방법 1 
print('{} 과 {}의 합은 {}입니다'.format(a,b,a+b)) # 방법 2

이름을 입력하시오 강호정

강호정 씨 안녕하세요 ?
파이썬에 오신 것을 환영합니다

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2

1 과 2 의 합은 3 입니다.
1과 2의 합은 3입니다

#### 연습문제(야구 뉴스 기사)

In [ ]:
stadium = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디 입니까?")
lose = input("진 팀은 어디 입니까?")     
player = input("우수 선수는 누구입니까?")
score = input('스코어는 몇대 몇 입니까?')
              
print("속보 {}가 {}로 승리 ... \n오늘 고척 경기장에서 야구 경기가 있었습니다 .\n{}와 {}는 치열한 공방전을 펼첬습니다.\n이 경기에서 {}가 맹확약을 했습니다.\n그 끝내 {}가 {}를 {}로 승리하였습니다.\n기사 끝".format(win,score,win,lose,player,win,lose,score))

경기장은 어디입니까? 고척
이긴 팀은 어디 입니까? KT
진 팀은 어디 입니까? LG
우수 선수는 누구입니까? 강백ㅎ
스코어는 몇대 몇 입니까? 10:8

속보 KT가 10:8로 승리 ...
오늘 고척 경기장에서 야구 경기가 있었습니다 .
KT와 LG는 치열한 공방전을 펼첬습니다.
이 경기에서 강백ㅎ가 맹확약을 했습니다.
그 끝내 KT가 LG를 10:8로 승리하였습니다.
기사 끝

In [36]:
result = '1,2,3'.split(',')
print(type(result)) #split 으로 쪼개면 list 형으로 나온다
print(result)

<class 'list'>
['1', '2', '3']

#### 연습문제(시간 출력)

In [45]:
time = input('hh:mm:ss 의 형태로 시간을 입력해주세요')
t= time.split(':')
print('시 : {}\n분 : {} \n초 : {}'.format(t[0],t[1],t[2]))

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

- map

In [47]:
a = [1.2 , 2.5 , 3.7 , 4.6]
a = list(map(int,a)) # a라는 요소들을 int를 적용시켜 list로 변환시킴
print(a)

[1, 2, 3, 4]

#### 연습문제(maping)

In [72]:
kor,eng,mat,sci = input("국어,영어,수학,과학 점수를 입력해주세요").split(',')
a = [kor,eng,mat,sci]
a = list(map(int,a)) a리스트 모두에 int적용
avg = (a[0]+a[1]+a[2]+a[3]) / len(a)
print("평균 점수는 {}점입니다".format(avg))

국어,영어,수학,과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5점입니다

In [8]:
kor,eng,mat,sci = input("국어,영어,수학,과학 점수를 입력해주세요").split(',')
a=list(map(int,(kor,eng,mat,sci)))
avg = (a[0]+a[1]+a[2]+a[3]) / len(a)
print("평균 점수는 {}점입니다".format(avg))

국어,영어,수학,과학 점수를 입력해주세요 1,1,1,1

평균 점수는 1.0점입니다

In [1]:
apple , orange = input('사과와 귤을 몇개 드릴까요?').split(',')
a = list(map(int,(apple,orange)))
total = 1000 * a[0] + 200 * a[1]  
print('총 가격은 {}원입니다.'.format(total))

사과와 귤을 몇개 드릴까요? 1,2

총 가격은 1400원입니다.

# 2/15

- sep , end

In [15]:
print('value',1,1.1,[1,2,'text'],sep=',')

value,1,1.1,[1, 2, 'text']

In [24]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year,month,day,sep='/',end=' ')
print(hour,minute,second,sep=':')

2021/02/03 18:33:23

#### 연습문제(오늘의 날짜)

In [38]:
import time

today = ''' 오늘의 날짜를 알려드립니다 !
{}년 {}월 {}일 입니다.
'''.format(time.localtime().tm_year,
           time.localtime().tm_mon,
           time.localtime().tm_mday)

print(today)

 오늘의 날짜를 알려드립니다 !
2023년 2월 15일 입니다.

In [41]:
import time

today =f"""오늘의 날짜를 알려드립니다 !
{time.localtime().tm_year}년 {time.localtime().tm_mon}월 {time.localtime().tm_mday}일입니다.
"""
print(today)

오늘의 날짜를 알려드립니다 !
2023년 2월 15일입니다.

- if문

In [47]:
input_value4 =8
if type(input_value4) is int:
    print("input_value4는 정수입니다.") # 정수가 맞으면 출력

input_value4는 정수입니다.

In [53]:
c= 11

if c > 10:
    print('10보다 큽니다')
elif c < 5:
    print('10보다 작고 , 5보다도 작습니다')
elif True:
    print("10보다 작고 , 5보단 큽니다")

10보다 큽니다

In [55]:
age = 40

if 20 <= age <30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
else:
    print("오우 불혹을 넘기셨군요")
    
print("감사합니다.")

오우 불혹을 넘기셨군요
감사합니다.

In [70]:
user = input("아이디를 입력하세요:")

if user == 'admin':
    print("최고 관리자, 모든 권한을 갖습니다.")
    
else:
    number = int(input("회원 등급을 입력해주세요"))
    if number >= 1 and number <=3:
        print("제한적인 권한을 갖습니다.")
    else:
        print("권한이 없습니다.")

아이디를 입력하세요: dd
회원 등급을 입력해주세요 2

제한적인 권한을 갖습니다.

In [79]:
a = input("자연수 하나 입력해주세요:")
b = int(a)-50

if b >= 0:
    print(b)
    
elif b < 0:
    print(0)

자연수 하나 입력해주세요: 30

0

In [86]:
number = int(input("자연수 하나 입력해주세요:"))

if number % 2 == 0 :
    print("짝수입니다")
else:
    print("홀수입니다")

자연수 하나 입력해주세요: 13

홀수입니다

#### 연습문제(if문)

In [101]:
# 방법1
a = int(input("소프트웨어 설계 점수를 입력하세요"))
b = int(input("소프트웨어 개발 점수를 입력하세요"))
c = int(input("데이터베이스 구축 점수를 입력하세요"))
d = int(input("프로그래밍 언어 활용 점수를 입력하세요"))
e = int(input("정보시스템 구축 점수를 입력하세요"))
avg = (a+b+c+d+e)/5

if a >100 or a<0  or b >100 or b<0 or c>100 or c<0 or d>100 or d<0 or e>100 or e<0:
    print("잘못된 점수입니다")    
elif avg >=60:
    print("합격")
else:
    print("불합격")

소프트웨어 설계 점수를 입력하세요 17
소프트웨어 개발 점수를 입력하세요 2
데이터베이스 구축 점수를 입력하세요 2
프로그래밍 언어 활용 점수를 입력하세요 2
정보시스템 구축 점수를 입력하세요 -8

잘못된 점수입니다

In [104]:
# 방벙 2 
a = int(input("소프트웨어 설계 점수를 입력하세요"))
b = int(input("소프트웨어 개발 점수를 입력하세요"))
c = int(input("데이터베이스 구축 점수를 입력하세요"))
d = int(input("프로그래밍 언어 활용 점수를 입력하세요"))
e = int(input("정보시스템 구축 점수를 입력하세요"))

k = [a,b,c,d,e]

if max(k)>100 or min(k)<0:
    print("잘못된 함수입니다")
elif sum(k)/len(k)>=60:
    print("합격")
else:
    print("불합격")

소프트웨어 설계 점수를 입력하세요 1
소프트웨어 개발 점수를 입력하세요 1
데이터베이스 구축 점수를 입력하세요 1
프로그래밍 언어 활용 점수를 입력하세요 1
정보시스템 구축 점수를 입력하세요 1

불합격

In [120]:
water = float(input("현재 물의 온도를 입력해주세요:")) # 물의 상태가 정수가 아닌 숫자를 입력할수도 있으므로 float 을 붙여줌
              
if water >= 100:
    print("기체로 예상됩니다")
elif water >=0:
    print("액체로 예상됩니다")
else:
    print("고체로 예상됩니다")

현재 물의 온도를 입력해주세요: 1

액체로 예상됩니다

In [133]:
age = int(input("자신의 나이를 입력하세요"))

if age >= 19:
    print('1500원')
elif age >= 12: 
    print("1100원")
elif age >=6:
    print("800원")
else:
    print("무료입니다")

자신의 나이를 입력하세요 12

1100원

In [8]:
a = int(input("발주 수량을 입력하세요:"))
b= 10
      
if a > 2000:
    print("{}개를 주문하셨습니다.".format(a))
    print("적용 할인율은 {}% 입니다".format(20))
    print('총 발주 금액은 {} 입니다'.format(a*b-(a*b*0.2)))
elif a > 1500:
    print("{}개를 주문하셨습니다.".format(a))
    print("적용 할인율은 {}% 입니다".format(10))
    print('총 발주 금액은 {} 입니다'.format(a*b-(a*b*0.1)))
elif a > 1000:
    print("{}개를 주문하셨습니다.".format(a))
    print("적용 할인율은 {}% 입니다".format(5))
    print('총 발주 금액은 {} 입니다'.format(a*b-(a*b*0.05)))
else:
    print("{}개를 주문하셨습니다.".format(a))
    print("적용 할인율은 {}% 입니다".format(0))
    print('총 발주 금액은 {} 입니다'.format(a*b))

발주 수량을 입력하세요: 2001

2001개를 주문하셨습니다.
적용 할인율은 20% 입니다
총 발주 금액은 16008.0 입니다

In [4]:
j = input("주민번호 뒷자리를 입력하세요:")


if len(j) != 7:
    print("자리수를 잘못 입력했습니다")
elif j[0] == '1' or j[0] == '3' :
    print("남자입니다")
elif j[0] == '2' or j[0] == '4' :
    print("여자입니다")
else: 
    print("잘못된입력입니다")

주민번호 뒷자리를 입력하세요: 1234567

남자입니다

In [43]:
year = int(input("확인할 연도를 입력하세요"))

if year % 100 == 0 and year % 400 != 0:
    print('평년입니다')

elif year % 4 ==0:
    print("윤년입니다")
       
else:
    print("평년입니다")

확인할 연도를 입력하세요 1900

평년입니다

In [44]:
a = [0,1,2,3,4,5,6,7]
a[0:5:2]

[0, 2, 4]

In [46]:
# range(시작하는숫자(포함),끝숫자(미포함),증감)
list(range(0,8,1))

[0, 1, 2, 3, 4, 5, 6, 7]

# 2/16

- 반복문

In [9]:
even_number = list(range(2,100,2))
9print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

--- 연습문제 ---

In [17]:
for i in range(1,11,1):
    print('hello world {}'.format(i))
print('끝')

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9
hello world 10
끝

In [26]:
k = int(input("인사 몇 번 해드릴까요?"))
for i in range(k):
    print("Hello world")

인사 몇 번 해드릴까요? 2

Hello world
Hello world

In [1]:
list(range(5,10,1))
list(range(0,10,3))
list(range(-10,-71,-30))

[-10, -40, -70]

In [4]:
# 도움 받아서 풀었던 문제
number = int(input("자연수 하나 입력해주세요"))
for i in range(number,0,-1):
     print('{}\t'.format(i)*i)

자연수 하나 입력해주세요 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [2]:
# 도움 받아서 풀었던 문제(풀이2)
number = int(input("자연수 하나 입력해주세요"))
for i in range(number ,0 , -1):
    for j in range(i): 
        print(i,end='\t') 
    print() # 2번쨰 for문 끝나고 줄바꿈해줌

자연수 하나 입력해주세요 5

5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [115]:
# 겨우 풀었던문제
a= '*'


for i in range(10,0,-1):
    if i == 10 or i == 1:
        print('{}'.format(a)*10)
    else:
        print('{}'.format(a)*1 + " " * 8 + '{}'.format(a)*1)

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [4]:
for i in range(10):
    if i ==0 or i==9:
        print('* ' * 10)
    else:
        print('*                 *')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [48]:
# 못풀었던 문제 정답

even = int(input("숫자를 입력하시오"))
result = 1
str = '1'

for i in range(3,even+1,2):
    result +=i
    str += ' + {}'.format(i)
str += ' = {} '.format(result)
print(str)

숫자를 입력하시오 99

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [43]:
for i in range(1,11,2):
    print(i,end=' ')

1 3 5 7 9

In [54]:
number = int(input("계승을 구할 숫자를 입력하세요"))
result = 1
for i in range(1,number+1,1):
    result *= i

print(result)

계승을 구할 숫자를 입력하세요 7

5040

In [64]:
for ik in  "일이삼사오육":
    print(ik, end='')

일이삼사오육

In [67]:
for ik in reversed("일이삼사오육"):
    print(ik,end = "")

육오사삼이일

In [70]:
x = [10,-42,25,103,21,77,24]
for k in x:
    print(k*10,end=" ")

100 -420 250 1030 210 770 240

In [112]:
number = int(input("구구단을 알려드립니다.숫자를 입력하세요"))

for i in range(1,10,1):
    number * i
    print('{} * {} = {}'.format(number,i,number * i))

구구단을 알려드립니다.숫자를 입력하세요 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [118]:
number = int(input("자연수를 입력해주세요"))
result =0
for i in range(1,number+1,1):
    result +=i
    
print(result)

자연수를 입력해주세요 100

5050

In [119]:
for i in range(5):
    print('* ' * 5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

- while문

In [ ]:
i = 0
while i < 3:
    print('Hello world')
    i +=1

Hello world
Hello world
Hello world

In [ ]:
count = int(input("반복할 횟수를 입력하세요:"))

while count >0:
    print('hello',count)
    count -=1

In [5]:
i = 2
while i <= 100 :
    print('{}\t'.format(i), end = " ")
    i +=2

2	 4	 6	 8	 10	 12	 14	 16	 18	 20	 22	 24	 26	 28	 30	 32	 34	 36	 38	 40	 42	 44	 46	 48	 50	 52	 54	 56	 58	 60	 62	 64	 66	 68	 70	 72	 74	 76	 78	 80	 82	 84	 86	 88	 90	 92	 94	 96	 98	 100

In [5]:
number = int(input("구구단을 알려드립니다.숫자를 입력하세요"))

i = 0
while i <10:
    number * i
    print('{} * {} = {}'.format(number,i,number * i))
    i +=1

구구단을 알려드립니다.숫자를 입력하세요 9

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
a= [ 87,22,31,98]

i=0

while i < len(a):
    print(a[i])
    i +=1
# 인덱싱을 할 때는 정확한 범위의 인덱스에 접근해야 한다.

87
22
31
98

# 2.17

- 복습

In [10]:
for i in range(1,11,1):
    print("{}".format(i) , end =" " )

1 2 3 4 5 6 7 8 9 10

In [11]:
i = 1
while i < 11 : 
    print(i,end =" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [36]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)

i = 0
result = 0

while i < len(class_a):
    result += class_a[i]
    i +=1

print(result/len(class_a))

79.0

In [42]:
i = 0
total = 0
while True:
    total += i
    i += 1
    if i == 101:
        break
    
print(total)

5050

In [ ]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == 'a':
        break
print("프로그램을 종료합니다")

In [43]:
for i in range(100):
    if i % 2 ==0:
        continue      # i % 2 가 0이면 건너뛴다 (반복문 루프에서 continue는 아래를 실행안하고 루프 처음으로 감)
    print(i , end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [59]:
n= int(input("시작하는 정수입력"))
m= int(input("끝나는 정수입력"))

total = 0
for i in range(n,m+1):
    total +=i
print("{}부터 {}까지의 합은 {}입니다.".format(n,m,total))

시작하는 정수입력 1
끝나는 정수입력 10

1부터 10까지의 합은 55입니다.

In [62]:
n= int(input("시작하는 정수입력"))
m= int(input("끝나는 정수입력"))

i = n
total = 0
while i <=m:
    total +=i
    i+=1
print('{} 부터 {}까지 합은 {}입니다'.format(n,m,total))

시작하는 정수입력 1
끝나는 정수입력 10

1 부터 10까지 합은 55입니다

- 딕셔너리

In [65]:
dic_var = {"a": "value" , "a":"last value"}
print(dic_var)

{'a': 'last value'}

In [67]:
dic_var = {'key':'value',
           1 : 'value2',
           1.1 : 'value3',
           True : 'value4'}
print(list(map(type, dic_var.keys())))# 각각을 type 찍어보는거 적용 
print(list(map(type, dic_var.values())))

[<class 'str'>, <class 'int'>, <class 'float'>]
[<class 'str'>, <class 'str'>, <class 'str'>]

In [19]:
dic_var2 = {'key':'value',
            1:1,
            1.1:1.1,
            True: False,
            ('key',1,1.1,True) : ('key', 1,1.1,True),
            "list":[1,'가',1.1,True],
            'dict':{'key':'value', 'keys':'value2'},
            'set' : {'key','value'}}
print(dic_var2)

{'key': 'value', 1: False, 1.1: 1.1, ('key', 1, 1.1, True): ('key', 1, 1.1, True), 'list': [1, '가', 1.1, True], 'dict': {'key': 'value', 'keys': 'value2'}, 'set': {'key', 'value'}}

In [70]:
dict_a = dict(key1='value1',key2='value2',key3='value3')
print(dict_a)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [77]:
dict_b = dict(zip(['a','key2','key3'],['valuea','value','value3']))
print(dict_b) # 만들어진 dict_b 출력
print(dict_b['a']) #인덱싱 방법

{'a': 'valuea', 'key2': 'value', 'key3': 'value3'}
valuea

In [78]:
dict_b['a'] = 'super value' # 딕셔너리 변경
print(dict_b)

{'a': 'super value', 'key2': 'value', 'key3': 'value3'}

In [80]:
print('a' in dict_b) # 딕셔너리안에 'a'라는키가 있는지 찾는다
print('a' in dict_b.values) #  딕셔너리안에 'a'라는 value가 있는지 찾는다
del dict_b['a'] # 딕서너리중 'a' 삭제
len(dict_b) # 크기

True

TypeError: argument of type 'builtin_function_or_method' is not iterable

#### 연습문제(dict)

In [93]:
a = str(input("과일 이름을 입력하세요"))
dict = {'사과':1000 , '바나나':700 , '오렌지':1500 , '파인애플':2000} 
print('{}의 가격은 {}원 입니다.'.format(a,dict[a]))

과일 이름을 입력하세요 파인애플

파인애플의 가격은 2000원 입니다.

In [99]:
name = input("이름을 기입해주세요").split(' ')
weigth = input("몸무게를 입력해주세요").split(' ')

dict = { name[0] : weigth[0] , name[1] : weigth[1] , name[2] : weigth[2] , name[3] : weigth[3] }

이름을 기입해주세요 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요 20.4 16.2 22.3 5.2

{'뽀로로': '20.4', '루피': '16.2', '크롱': '22.3', '스누피': '5.2'}

In [6]:
name = input("이름을 기입해주세요").split(' ')
weigth = map(float, input("몸무게를 입력해주세요").split(' ')) # 몸무게 입력받아서 분리한것 float적용 maping

dic = dict(zip(name, weigth))   # zip함수를 이용해 알아서 매칭 하도록 함
print(dic)

이름을 기입해주세요 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

- 리스트 comprehenson

In [21]:
list_C = [i for i range(1,10)]
print(list_C)

SyntaxError: invalid syntax (1469879523.py, line 1)

In [23]:
prac_result = [ i**2 for i in range(1,10)]
print(prac_result)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
prac_result2 = [ i for i in range(1,10,2)]
print(prac_result2)

[1, 3, 5, 7, 9]

In [29]:
prac_result3 = [ i for i in 'abcdefghijkz'] # 문자 하나하나를 가져온다
print(prac_result3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'z']

In [9]:
prac_result4 = [ str(i) for i in range(2,11,1) ] + [ i for i in 'JQKA']
print(prac_result4)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [10]:
prac_result5 = [i for i in [prac_result4]*4] 
print(prac_result5)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [11]:
prac_result5 = [prac_result4 for i in range(4)] #prac_result 를 4개 만듬
print(prac_result5)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [12]:
prac_result5[0] ='two'
print(prac_result5)

['two', ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

prac_result6 = [prac_result4[:] for _ in range(4)]

print('prac_result4의 id:',id(prac_result6))

- 슬라이싱 개념

In [59]:
old_list = list(range(10))
new_list = old_list[:]

print(id(old_list))
print(id(new_list))
print(old_list is new_list)
print(old_list == new_list)

2263436774528
2263436909696
False
True

- int복사 일떄

In [26]:
row = [0]
a = []
for i in range(3): # row가 만들어져있고 for문이 반복될떄 마다 들어가게 된다 .
    a.append(row)

[[0], [0], [0]]

In [38]:
print(id(a[0]))
print(id(a[1]))
print(id(a[2]))
# 3개가 같다 .

1840292526400
1840292526400
1840292526400

In [34]:
b = []
for i in range(3):
    row = []       # for 문이 반복될 때마아다 리스트를 새로 만든다 
    b.append(row)

In [35]:
print(id(b[0]))
print(id(b[1]))
print(id(b[2]))
# 3개가 다른 리스트를 가지게 만들어져서 값이 다르다.

1840292927552
1840292928128
1840292874688

In [36]:
e = 256
f = 256
e is f  # 같다

True

In [37]:
g = 257
h = 257
g is h # 다르다

False

- 리스트 안에 리스트가 들어간 경우(얕은 복사) -> 주소 복사

In [52]:
l1 = [1,2,[3,4]]
l2 = l1.copy()
l1 is l2 # 다르다

False

In [54]:
l1[-1] is l2[-1] #주소를 복사해 버리니까 같다

True

In [55]:
l3 = [1,2,[3,4]]
l4 = l3[:]
l3 is l4 # 다르다

False

In [56]:
l3[-1] is l4[-1] #주소를 복사해 버리니까 같다

True

- 리스트 안에 리스트가 들어간 경우(깊은 복사) -> 다 복사

In [39]:
import copy
list_n = [[9,10] , [11,12]]
list_o = copy.deepcopy(list_n)
print(list_n[0] is list_o)

False

In [42]:
list_n[0][1] = 999
print(list_n)
print(list_o)
# 서로 완전히 다른 객체라 복사 된것에 영향을 미치 않는다

[[9, 999], [11, 12]]
[[9, 10], [11, 12]]