In [10]:
set_3 = { i for i in range(1,100) if i % 3 == 0 }
set_5 = { i for i in range(1,100) if i % 5 == 0}
result_set = set_3 & set_5
result_set

{15, 30, 45, 60, 75, 90}

In [21]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")
role_set = role_admin + role_hr + role_user
set_role=set(role_set)
k=list(set_role)
k.sort()
for i in range(len(k)):
    print(k[i]+ ',',end=' ')

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리,

## 함수

In [ ]:
'''
def 함수명(인자,인자,...)
        함수 코드 ..
        return 반환값  ( 함수를 빠져나가는 느낌)

- 메서드는 객체의 종류에따라 쓸 수 있는것이 달라진다
'''

In [ ]:
'''

함수인자 
- 위치-키워드(positional or keyword)
- 위치 전용(positional-only) ->  / 문자를 기준으로 좌측에 위치한 인자
- 키워드 전용(keyword-only)  ->  * 문자를 기준으로 우측에 위치한 인자
- 가변 위치(var positional)  ->  위치 매개변수를 개수에 상관없이 받을 수 있음 ( 변수명 앞에 *를 붙여 표기) 
- 가변 키워드(var keyword)   ->  변수명 앞에 **를 붙여 표기

In [28]:
def print_ten(some_str):
    ''' print('hello')를 열번 출력합니다.'''
    for i in range(3):
        print('hello')

In [29]:
print_ten('문자열')

hello
hello
hello

In [26]:
print(print_ten.__doc__)

 print('hello')를 열번 출력합니다.

In [31]:
def greeting(name,age): # name , age는 파라미터
    print('{}씨 안녕하세요.약 {}일 되었습니다.'.format(name,age))
greeting('파이썬',32) # 파이썬,32는 argument

파이썬씨 안녕하세요.약 32일 되었습니다.

In [32]:
# 위치 or 키워드 인자
greeting('파이썬',32)
greeting(name='파이썬',age=32)
greeting('파이썬', age=32)
greeting(age =32 , name='파이썬')

파이썬씨 안녕하세요.약 32일 되었습니다.
파이썬씨 안녕하세요.약 32일 되었습니다.
파이썬씨 안녕하세요.약 32일 되었습니다.
파이썬씨 안녕하세요.약 32일 되었습니다.

In [33]:
# 위치 전용 인자
def posonly(posonly,/):
    print(posonly)

posonly('값만 입력해야 합니다')

값만 입력해야 합니다

In [34]:
# 키워드 전용 인자
def keyonly(*,keyonly='default'):
    print(keyonly)
keyonly(keyonly='키워드로만 입력해야 합니다.')

키워드로만 입력해야 합니다.

In [ ]:
# 가변 위치 인자
def var_positional(*args):
    print(type(args))
    return sum([i for i in args])

print(var_positional(1,2,3,4,5))

In [ ]:
# 가변 키워드 인자
def var_keywowrd(**kargs):
    print(type(kargs))
    return kargs

print(var_keywowrd(key='value',key2='value2'))

In [39]:
def plus_ten(number):
    return number +10

plus_ten(70)

90

In [43]:
def to_celsius(fahrenheit):
    '''
    섭씨 온도를 구하기 공식
    '''
    return (fahrenheit - 32) * 5 / 9

to_celsius(70)

21.11111111111111

In [65]:
def odd_even(number):
    '''number가 짝수면 '짝수', 홀수면 '홀수' 반환'''
    if type(number) != int or (type(number)==int and number < 0 ) :
        return 
    elif number % 2 == 0:
        return '짝수'
    elif number % 2 !=0:
        return '홀수'
    else:
        return 

print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even('가'))

number가 짝수면 '짝수', 홀수면 '홀수' 반환
짝수
홀수
None

In [71]:
number = input('숫자를 입력하세요')

숫자를 입력하세요 10

In [72]:
int(float(number))

10

In [73]:
def to_int(number):
    if number.isdecimal():
        return int(number)
    return

print(to_int(10))

AttributeError: 'int' object has no attribute 'isdecimal'

In [77]:
def chcek_leap_year(year):
    if year % 100 == 0 and year % 400 != 0:
        return "평년"
    elif year % 4 == 0:
        return "윤년"
    else :
        return '평년'
    

chcek_leap_year(1900)

'평년'

In [87]:
def days(m):
        if m in [1,3,4,7,8,10,12] :
            return 31
        elif m in [4,6,9,11]  :
            return 30
        elif m == 2:
            return 28

days(11)

30

In [92]:
def days(y,m):
    if m in [1,3,4,7,8,10,12] :
        return 31
    elif m in [4,6,9,11] :
        return 30
    elif (y % 100 == 0 and y % 400 != 0 or y % 4 != 0) and m ==2 :
        return 28
    elif (y % 4 ==0) and m==2 :
        return 29
    
days(2000,2)

29

In [ ]:
'''
변수의 범위 - 전역 변수(global variable) , 지역 변수


- global 키워드는 전역 변수를 매칭해준다
- 중첩된 함수마다 같은 이름의 변수가 있다면 nonlocal 키워드를 사용하면 가장 가까운 변수 매칭
- 변수를 찾을때 좁은범위 -> 넓은범위로 찾는다

In [94]:
global_variable = '변경이 됩니까?'

def heartbreaker():
    global global_variable  # global 을 사용하여 접근 
    global_variable = 'global 키워드 활용해서 변경 완료'
    
heartbreaker()
print(global_variable)

global 키워드 활용해서 변경 완료

In [95]:
# 람다(lambda)
#lambda[parameters]:expression
(lambda x: x + 10)(10)

20

In [96]:
twice = lambda x: x*2
print(twice(10))

20

In [ ]:
'''
조건 표현식 (if 랑 else를 한번에 사용하는법)
-> True일때 값 if 조건식 else False일떄 값

In [ ]:
score = 90
'A' if 90<score<=100 else 'B' if 80 < score else 'C'

In [99]:
a = [ i for i in range(1,6)]
b = [ j for j in range(2,11,2)]
print(list(map(lambda x,y: x*y , a,b)))

[2, 8, 18, 32, 50]

In [100]:
a = [ 3,2,8,22,10,7,0,11,9,9]
list(filter(lambda x: x % 3 ==0 and 0 < x < 10 , a)) 
# filter 를 통해 True 값이면 출력해줌

[3, 9, 9]

#### class (객체를 만들기 위한 주형)

In [ ]:
class ClassName:
    def method_nemae(self):
        method_body
        
    class_body