#### 클래스(class)

In [7]:
class student:
    def __init__(self): # 생성자 : 객체가 최초 생성될떄 단 한 번 실행되는 메서드 
        self.name = '홍길동' #self라는 것은 내 자신의 인스턴스

In [8]:
s1 = student() # class로 부터 객체가 생성

s2 = student()


# 각각 객체가 만들어짐

In [9]:
print(s1.name)
print(s2.name)

홍길동
홍길동

In [1]:
class person:
    def __init__(self):   # james = person() 처럼 인스턴스를 만들떄 호출되는 메서드
        self.hello ='안녕하세요' # hello처럼 속성을 추가 
    def greeting(self):
        print(self.hello)
        
james = person()
james.greeting()

안녕하세요

In [16]:
class Person:
    def __init__(self,name,age):
        self.a = name
        self.b = age

In [22]:
p1 = Person('홍길동',22)
print(p1.a)
print(p1.b)

홍길동
22

In [23]:
p2 = Person('홍길다',32)
print(p2.a)
print(p2.b)

홍길다
32

In [ ]:
class Person:
    def __init__(self,name,age,address):
        self.hello = '안녕하세요'
        self.name = name
        self.age = age
        self.address = address
        
    def greeting(self):
        print('{}제 이름은 {}입니다.'.format(self.hello,self.name))
    

maria = person('마리아',20,'서울시 서초구 반포동')
maria.greeting()

print('이름',maria.name)
print('이름',maria.age)
print('이름',maria.address)

In [42]:
# 어떠한 값을 입력하더라도 정의된 값으로 출력된다 .
class person:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age
        self.address = address
        
        
    def greeting(self):
        input('이름은 무엇인가요?')
        input('나이은 무엇인가요?')
        input('주소은 무엇인가요?')
        
        
    
maria = person('마리아',20,'서울시 강남구')
maria.greeting()
james = person('제임스',21,'서울시 구로구')
james.greeting()


print('첫번쨰 이름: {} '.format(maria.name))
print('첫번쨰 이름: {} '.format(maria.age))
print('첫번쨰 이름: {} '.format(maria.address))
print('두번쨰 이름: {} '.format(james.name))
print('두번쨰 이름: {} '.format(james.age))
print('두번쨰 이름: {} '.format(james.address))

이름은 무엇인가요? 1
나이은 무엇인가요? 1
주소은 무엇인가요? 1
이름은 무엇인가요? 1
나이은 무엇인가요? 1
주소은 무엇인가요? 1

첫번쨰 이름: 마리아
첫번쨰 이름: 20
첫번쨰 이름: 서울시 강남구
두번쨰 이름: 제임스
두번쨰 이름: 21
두번쨰 이름: 서울시 구로구

In [47]:
# 방법 2 -> 입력한 값을 출력할 수 있게 해줌 
class person:
    def __init__(self):
        pass
        
    def greeting(self):
        self.name = input('이름은 무엇인가요?')
        self.age = input('나이은 무엇인가요?')
        self.address = input('주소은 무엇인가요?')
        
        
    
maria = person()
maria.greeting()
james = person()
james.greeting()


print('첫번쨰 이름: {} '.format(maria.name))
print('첫번쨰 이름: {} '.format(maria.age))
print('첫번쨰 이름: {} '.format(maria.address))
print('두번쨰 이름: {} '.format(james.name))
print('두번쨰 이름: {} '.format(james.age))
print('두번쨰 이름: {} '.format(james.address))

이름은 무엇인가요? 마리아
나이은 무엇인가요? 20
주소은 무엇인가요? 서울시 강남구
이름은 무엇인가요? 제임스
나이은 무엇인가요? 21
주소은 무엇인가요? 서울시 구로구

첫번쨰 이름: 마리아
첫번쨰 이름: 20
첫번쨰 이름: 서울시 강남구
두번쨰 이름: 제임스
두번쨰 이름: 21
두번쨰 이름: 서울시 구로구

In [49]:
# 비공개 속성 사용하기
class ClassExam:
    def __init__(self):
        self.__secret = '비밀입니다.'

In [68]:
# 못풀었음 
class Annie:
    def __init__(self):
        self.hp = input('체력을 입력하세요')
        self.mp = input('마나를 입력하세요')
        self.ap = input('AP를 입력하세요')
        
    def tibbers(self):
        self.damage = float(self.ap) * 0.65 + 400
        
tiber = Annie()
tiber.tibbers()
print('티버 : 피해량 {}'.format(tiber.damage))

체력을 입력하세요 10
마나를 입력하세요 10
AP를 입력하세요 10

티버 : 피해량 406.5

In [2]:
# 못풀었음 
class Annie:
    def __init__(self,hp,mp,ap):
        self.hp = hp
        self.mp = mp
        self.ap = ap
        
    def tibbers(self):
        return self.ap * 0.65 + 400

a = Annie()
hp , mp , ap = map(float, input('애니').split())
a2 = Annie(hp,mp,ap)
a2.tibbers()

TypeError: __init__() missing 3 required positional arguments: 'hp', 'mp', and 'ap'

In [ ]:
''' SQL -> DQL , DDL , DCL , DML
DQL -> 테이블 조회
DDL -> CREATE(생성),ALTER(수정),DROP(삭제)
DCL -> GRANT(승인) , REVOKE(제약)
DML -> INSERT(삽입),UPDATE(수정),DELETE(삭제)



CHAR -> 고정된 길이의 문자열 저장
VARCHAR -> 가변 문자열 저장
TEXT -> 매우 큰 문자열 저장

< MariaDB server 데이터 타입>
INT , BIGINT , FLOAT , DECIMAL ,DATATIME



'''