- cut method

In [128]:
ages = [0,2,10,21,23,37,31,61,20,41,32,101]
bins=[1,20,30,50,70,100]
labels = [ '미성년자', '쳥년','장년','중년','노년']
cats = pd.cut(ages , bins , labels=labels)
cats # ages를 적용시키는데 1~20은 미성년자 , 20~30은 청년 등등으로 나눔

[NaN, '미성년자', '미성년자', '쳥년', '쳥년', ..., '중년', '미성년자', '장년', '장년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '쳥년' < '장년' < '중년' < '노년']

In [129]:
data = np.random.randn(1000)
cats = pd.qcut(data,4,labels=['Q1','Q2','Q3','Q4'])
cats # 1000을 4구간으로 나눔

['Q1', 'Q2', 'Q3', 'Q1', 'Q2', ..., 'Q2', 'Q4', 'Q1', 'Q3', 'Q4']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']