- fillna method

In [83]:
df = pd.DataFrame([[np.nan,2,np.nan,0],
                 [3,4,np.nan,1],
                 [np.nan,np.nan,np.nan,np.nan],
                 [np.nan , 3 , np.nan , 4]],
                columns=list('ABCD'))
df
df.fillna(0) # nan (결측치)를 0으로 채움 
values = {'A':0,'B':1,'C':2,'D':3} # A열 결측치 0 , B열 1 , C열 2 , D열 3으로 채운다 
df.fillna(value=values)

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0