### loc인덱싱 (row단위로 본다)

In [109]:
data = {'A':[10,14,18] , 'B':[13,15,19],'C':[14,16,20],'D':[13,17,21]}
columns=['A','B','C','D']
index = ['a','b','c']
df = pd.DataFrame(data,index=index,columns=columns)
df

#방법2
df = pd.DataFrame(np.arange(10,22).reshape(3,4),index=list('abc'),columns=list('ABCD'))
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [99]:
df.loc['a']  # a행을 가져옴

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [100]:
df['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [101]:
df.A >15

a    False
b    False
c     True
Name: A, dtype: bool

In [105]:
df.loc[df.A >12] # A열이 12보다 큰 행들 다 추출

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [107]:
def select_rows(df,num):
    return df.A >num
select_rows(df,15)

a    False
b    False
c     True
Name: A, dtype: bool

In [111]:
df.loc['a','A']

10

In [ ]:
df.at['a','A'] # loc랑 같은데 훨씬 빠르다

In [117]:
df.loc['b':,'A']

b    14
c    18
Name: A, dtype: int32

In [113]:
df.loc['a',:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [114]:
df.loc[['a','b'],['B','D']]

    B   D
a  11  13
b  15  17

In [115]:
df.loc[df.A>10 ,['C','D']]

    C   D
b  16  17
c  20  21

- iloc

In [119]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [118]:
df.iloc[0,1]

11

In [120]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32

In [122]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int32

In [123]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [124]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [125]:
df.iloc[-1] = df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42