### 텍스트 데이터 다루기

- 데이터를 정리하는 과정 : 랭글링 or 먼징

In [87]:
inspections = pd.read_csv('datas/chicago_food_inspections.csv')
inspections['Name'].head().values

array([' MARRIOT MARQUIS CHICAGO   ', ' JETS PIZZA ', '   ROOM 1520 ',
       '  MARRIOT MARQUIS CHICAGO  ', ' CHARTWELLS   '], dtype=object)

In [88]:
inspections['Name'].str # str을 이용하여 문자열에 관한 메서드 호출

In [91]:
dessert = ' cheesecake '
dessert.strip() # 공백을 제거 해줌


insepections['Name'] = insepections['Name'].str.litrip().head(3)
# 3개 왼쪽 공백 제거 
insepections['Name'] = insepections['Name'].str.ritrip().head(3)
# 3개 오른쪽 공백 제거 
insepections['Name'] =insepections['Name'].str.strip().head(3)
# 3개 양쪽 공백 제거

'cheesecake'

In [94]:
for column in inspections.columns:
    inspections[column] = inspections[column].str.strip()
# 전체 컬럼에 대해 공백을 제거해주는 코드 

inspections

                                Name             Risk
0            MARRIOT MARQUIS CHICAGO    Risk 1 (High)
1                         JETS PIZZA  Risk 2 (Medium)
2                          ROOM 1520     Risk 3 (Low)
3            MARRIOT MARQUIS CHICAGO    Risk 1 (High)
4                         CHARTWELLS    Risk 1 (High)
...                              ...              ...
153805                     WOLCOTT'S    Risk 1 (High)
153806  DUNKIN DONUTS/BASKIN-ROBBINS  Risk 2 (Medium)
153807                      Cafe 608    Risk 1 (High)
153808                   mr.daniel's    Risk 1 (High)
153809                    TEMPO CAFE    Risk 1 (High)

[153810 rows x 2 columns]

In [ ]:
inspections['Name'].str.lower().head() # 모든 문자를 소문자로 변환
inspections['Name'].str.upper().head() # 모든 문자를 대문자로 변환
inspections['Name'].str.capitzlize().head() 
# 문자열 첫번째 문자만 대문자 , 나머지는 소문자로 표시
inspections['Name'].str.title().head()
# 각 단어 마다 첫글자를 대문자 , 나머지는 소문자

In [97]:
inspections = inspections.dropna(subset = ['Risk'])
inspections['Risk'].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All'],
      dtype=object)

In [98]:
inspections = inspections.replace(to_replace='All', value='Risk 4 (Extreme)')
# All 문자열을 Risk 4 (Extreme)로 변환

In [99]:
inspections['Risk'].str[5].astype('i').head() 
#인덱스 5번 숫자들 뽑아서 object를 int로 변경

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: int32

In [100]:
inspections['Risk'].str[8:-1].astype('category').head() 
# 슬라이싱으로 가져와서 메모리 효율을 높이기 위해 category로 만듬

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: category
Categories (4, object): ['Extreme', 'High', 'Low', 'Medium']

- 특정 조건 조회

In [104]:
has_pizza = inspections['Name'].str.lower().str.contains('pizza')
inspections[has_pizza] # pizza가 들어간 단어만 출력

                                    Name             Risk
1                             JETS PIZZA  Risk 2 (Medium)
19         NANCY'S HOME OF STUFFED PIZZA    Risk 1 (High)
27            NARY'S GRILL & PIZZA ,INC.    Risk 1 (High)
29                   NARYS GRILL & PIZZA    Risk 1 (High)
68                         COLUTAS PIZZA    Risk 1 (High)
...                                  ...              ...
153756       ANGELO'S STUFFED PIZZA CORP    Risk 1 (High)
153764                COCHIAROS PIZZA #2    Risk 1 (High)
153772  FERNANDO'S MEXICAN GRILL & PIZZA    Risk 1 (High)
153788            REGGIO'S PIZZA EXPRESS    Risk 1 (High)
153801        State Street Pizza Company    Risk 1 (High)

[3992 rows x 2 columns]

In [106]:
starts_with_tacos = (inspections['Name'].str.lower().str.startswith('tacos'))
inspections[starts_with_tacos]
# tacos문자열로 시작하는것들 조회해줌

                         Name           Risk
69               TACOS NIETOS  Risk 1 (High)
556       TACOS EL TIO 2 INC.  Risk 1 (High)
675          TACOS DON GABINO  Risk 1 (High)
958       TACOS EL TIO 2 INC.  Risk 1 (High)
1036      TACOS EL TIO 2 INC.  Risk 1 (High)
...                       ...            ...
143587          TACOS DE LUNA  Risk 1 (High)
144026           TACOS GARCIA  Risk 1 (High)
146174        Tacos Place's 1  Risk 1 (High)
147810  TACOS MARIO'S LIMITED  Risk 1 (High)
151191            TACOS REYNA  Risk 1 (High)

[105 rows x 2 columns]

In [107]:
starts_with_tacos = (inspections['Name'].str.lower().str.endswith('tacos'))
inspections[starts_with_tacos]
# tacos문자열로 끝나는것들 조회해줌

                   Name           Risk
382        LAZO'S TACOS  Risk 1 (High)
569        LAZO'S TACOS  Risk 1 (High)
2652       FLYING TACOS   Risk 3 (Low)
3250       JONY'S TACOS  Risk 1 (High)
3812       PACO'S TACOS  Risk 1 (High)
...                 ...            ...
151121      REYES TACOS  Risk 1 (High)
151318   EL MACHO TACOS  Risk 1 (High)
151801   EL MACHO TACOS  Risk 1 (High)
153087  RAYMOND'S TACOS  Risk 1 (High)
153504        MIS TACOS  Risk 1 (High)

[304 rows x 2 columns]