## Series

In [5]:
import pandas as pd
s = pd.Series(['하나','둘','셋'],index = [i for i in range(1,4)])
s

1    하나
2     둘
3     셋
dtype: object

In [6]:
s2 = pd.Series([9_904_312, 3_448_737,2_890_451,2_466_052],index=['서울','부산','인천','대구'])
s2

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [10]:
s3 = pd.Series([10,20,30,40,50,60,70,80,90],index=None)
s3

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [24]:
print(s3.index)
print(s3.values)
type(s3.values) # 값이 ndarray 형태

RangeIndex(start=0, stop=9, step=1, name='도시')
[10 20 30 40 50 60 70 80 90]

numpy.ndarray

In [30]:
s3[s3>50].count()
# 방법 2  sum(s3>50)

도시
0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
Name: 인구, dtype: bool

In [21]:
s3.name='인구'       #데이터 이름 주기
s3.index.name='도시' #index에 이름 주기 
s3

도시
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: 인구, dtype: int64

In [22]:
d = {'a':1 , 'b':2 , 'c':3}  # 딕셔너리 series 로 만들기 
ser = pd.Series(data=d,index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [ ]:
d = {'a':1 , 'b':2 , 'c':3}  
ser = pd.Series(data=d,index=['x','y','z'])
ser # 딕셔너리로 series만들면 index 가 딕셔너리의 key로 자동지정

x   NaN
y   NaN
z   NaN
dtype: float64

In [265]:
s4 = pd.Series({'서울':1_904_312,'부산':1_448_737,'인천':3_890_451,'대구':4_466_052})
s4

서울    1904312
부산    1448737
인천    3890451
대구    4466052
dtype: int64

In [27]:
s5 = pd.Series({'철수':88,'영희':95,'길동':100,'몽룡':34})
s5

철수     88
영희     95
길동    100
몽룡     34
dtype: int64

In [31]:
'철수' in s5

True

In [66]:
88 in s5.values

True

In [64]:
test = dict(zip(range(10),list('영일이삼사오육칠팔구')))
test

{0: '영',
 1: '일',
 2: '이',
 3: '삼',
 4: '사',
 5: '오',
 6: '육',
 7: '칠',
 8: '팔',
 9: '구'}

In [33]:
for k,v in s5.items():
    print(f'{k} {v}')

철수 88
영희 95
길동 100
몽룡 34

In [76]:
for _ , v in s5.items(): # values 만 가져오고 싶을떄 
    print(f'{v}')

88
95
100
34

### series 슬라이싱

In [266]:
s4[1] ,s4['부산'] # 슬라이싱도 가능하다(값을 가져올떄)

(1448737, 1448737)

In [45]:
s4[[0,3,1]]
s4[['서울','대구','부산']]

서울    1904312
대구    4466052
부산    1448737
dtype: int64

In [46]:
s4[[0]] #하나의 series를 가져올떄

서울    9904312
dtype: int64

### series 연산

In [55]:
a= pd.Series([999999,3333333,2222222,1111111],index=['서울','부산','인천','대구'])
a.name='인구'
a.index.name='도시'
a

도시
서울     999999
부산    3333333
인천    2222222
대구    1111111
Name: 인구, dtype: int64

In [61]:
a2 = pd.Series({'서울':5555555,'부산':3333333,'인천':2222222,'대전':1542353})
a2

서울    5555555
부산    3333333
인천    2222222
대전    1542353
dtype: int64

In [84]:
k = a-a2 # 한쪽에 없는 값은 NAN으로 나옴
k

대구          NaN
대전          NaN
부산          0.0
서울   -4555556.0
인천          0.0
dtype: float64

In [85]:
k.isnull() # null값 있으면 True

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [86]:
k.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [89]:
k[k.notnull()] # null이 아닌값들 출력

부산          0.0
서울   -4555556.0
인천          0.0
dtype: float64

In [ ]:
del rs['서울']

### 가벼운 실습

In [94]:
c = pd.Series({'서울':9904312,'부산':3448737,'인천':2890451,'대구':2466052}) #2015년 인구
c2 = pd.Series({'서울':9631482,'부산':3393191,'인천':2632035,'대전':1490158}) # 2010년 인구
rs = (c-c2) / c2*100 # 인구 증가율
rs = rs[rs.notnull()] # null이 아닌 즉 TRUE인 값에 대해서만 출력 
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64